@font-face {
    font-family: "Avenir Medium"; 
    src: url("../fonts///db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot"); 
    src: url("../fonts///db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Avenir-Medium.woff2") format("woff2"), 
    url("../fonts/Avenir-Medium.woff") format("woff"), 
    url("../fonts/Avenir-Medium.ttf") format("truetype"), 
    url("../fonts///db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.svg#Avenir Medium") format("svg"); }
@font-face {
      font-family: "Avenir Black"; 
    src: url("../fonts///db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot"); 
    src: url("../fonts///db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Avenir\ Black.woff2") format("woff2"),
    url("../fonts/Avenir\ Black.woff") format("woff"), 
    url("../fonts/Avenir\ Black.ttf") format("truetype"), 
    url("../fonts///db.onlinewebfonts.com/t/275de2221d9f0c4c9257d17f5a1e4006.svg#Avenir Black") format("svg"); 
}
@font-face {
    font-family: "Avenir Heavy";
    src: url("../fonts/901497541657a2f24e42848bcf7fad52.eot"); /* IE9*/
    src: url("../fonts/901497541657a2f24e42848bcf7fad52.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir\ Heavy.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Avenir\ Heavy.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Avenir\ Heavy.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/901497541657a2f24e42848bcf7fad52.svg#Avenir Heavy") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: 'Avenir LT Std book';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff'),
      url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

