*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.sidebar{
    background-color: #222222;
    position:fixed;
    width: 319px;
    height: 100%;
}
h1{ 
    font-size: 30px;
    color: white;
    font-family: "Avenir Black"; 
    display: flex;   
    align-items: center;
}
h1 span{
    font-family: 'Avenir LT Std book';
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 60px 15px 80px 15px;
    align-items: center;
}
.logo img{
    height: 17px;
}
.followers{
    align-items: flex-start;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    list-style: none;
}
.navbar ul li{
    width: 228px;
    padding: 19px 0;
    padding-left: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.navbar ul li a{
    color: white;
    margin-left: 21px;
    font-size: 19px;
    font-family: "Avenir Medium"; 
}
.followers ul{
    margin-top:10px;
}
.followers ul li{
    padding: 10px 0;
    padding-left: 8px;
}
.followers ul li a{
    margin-left:30px
}
.followers p{
    display: flex;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    color: white;
    margin-top: 60px;
    font-size: 16px;
    font-family: 'Avenir LT Std book';
}
.followers a{
    display: flex;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-family: 'Avenir LT Std book';
}
/*header****************************************************/
.header-bar{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-left: 400px;
    padding-right: 90px;
    border-style: solid;
    border-width: 1px;
    border-color: #dfd0d0;
    border-top-style: none;
    border-right: none;
}
.header-sidebar-icon{
    height: 70px;
    display: none;
}
.search-box{
    height: 60px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 20px;
}
.search-box input{
    border: none;
    outline: none;
    background-color: #F8F8F8;
    width: 200px;
    height: 40px;
}

.personal-side{
    display: flex;
    align-items: center;
    width: 700px;
    justify-content:space-evenly;
}
.white{
    color: white;
}
.pink{
    color:#FF2288;
    font-size: 20px;
}
.upload-button{
    background-color: #FF2288;
    border-radius: 20px;
    padding: 20px 30px;
}
.upload-button a{
    font-size: 20px;
}
/*middle-page*******************************************/
.mid-board{
    max-width: 1612px;
    width: 100%;
    padding-left: 321px;
    margin:50px auto;
}
.filters{
    display: flex;
    width: 620px;
    justify-content: space-between;
    align-items: center;
}
.filters a{
    font-size: 30px;
    color: black;
    font-size: 18px;
    font-family: 'Avenir LT Std book';
}
.filter-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    flex-wrap: wrap;
}
.filter-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-style: solid;
    border-width: 2px;
    border-color: #cfc9c9;
    border-radius: 25px;
    color: black;
}
.filter-button img{
    margin-right: 10px;
}
/*main info*************************************************/
.main-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.first-sec{
    margin-bottom: 108px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.first-sec img{
    height: 230px;
    width: 300px;
    object-fit: cover;
}
.main-info div p{
    padding: 0 25px;
    width: 300px;
    font-size: 16px;
    font-family: 'Avenir LT Std book';
}
.main-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-align a{
    margin-bottom: 90px;
}
.main-align a span{
    background-color: #ebebeb;
    padding: 16px 105px;
    border-radius: 15px;
    color: black;
}
.react-button{
    position: absolute;
    top: 40px;
    left:42px;
    display: flex;
    flex-direction: column;
}
.react-button img{
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    height: 28px;
    width: 28px;
    margin-bottom: 12px ;
}
/*top designers section*******************************/
.sec-designers{
    margin-top: 100px;
    width: 100%;
    background-color: #FAFAFA;
    margin: 0px auto;
    padding: 70px 100px 70px 421px
}
.designers{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}
h3{
    margin-bottom: 70px;
    font-size: 40px;
    font-family: "Avenir Heavy";
    color: #232121;
}
.designers-sec{
    background-color: #FAFAFA;
}
.top-designers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.top-designers div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-designers div img{
    margin-bottom: 15px;
}
.individ-designers a{
    color: #555050;
    font-size: 18px;
    margin: 10px 0;
    font-family: "Avenir Heavy";
}
.individ-designers p{
    opacity: 80%;
    color: #222222;
    font-size: 14px;
    font-family: "Avenir Medium"; 
}
.top-designers span{
    margin: 25px 0px;
    padding: 12px 43px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cfc9c9;
}
/*footer************************************************/
footer{
    width: 100%;
    /* background-color: blue; */
    margin: 0 auto;
    padding: 70px 100px 70px 421px
}
.footer-nav-bar{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 70px;
}
.options{
    display: flex;
    flex-direction: column;
}
.options p{
    margin-bottom: 36px;
    font-family: "Avenir Black"; 
}
.options a{
    margin-bottom: 20px;
    color: #222222;
    font-family: 'Avenir LT Std book';
}
.last-of-footer{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    border-top-style: solid;
    border-top-color: #cfc9c9;
    border-top-width: 1px;
}
.soc-media{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/*************************************************************************************/
.left-bar ul li:hover {
    background-color: #FF2288;
    border-radius: 15px;
    transition-duration: 0.2s;
}
.filters div:hover{
    background-color: #F2F2F2;
    padding: 7px 17px;
    border-radius: 10px;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
.filter-button:hover{ 
    background-color: #F2F2F2;
    transition-duration: 0.2s;
}
.first-sec:hover{
    background-color: #F2F2F2;
    border-radius: 15px;
    transition-duration: 0.2s;
}
.load-more-span span:hover{
    padding: 20px 120px;
    font-size: 18px;
    transition-duration: 0.2s;
}
.individ-designers span:hover{
    background-color: #F2F2F2;
}
.followers ul li a:hover{
    font-size: 15px;
    transition-delay: 0.2s;
}
.react-button img:hover{
    padding: 2px;
}
/* responsive**************************************************************************************************/
table{
    display: flex;
    flex-direction: column;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}
table thead tr{
    display: flex;
    justify-content: space-between;  
}
table thead tr td{
    padding: 20px 0px;
    width: calc(100%/6);
}
table tbody tr{
    display: flex;
    justify-content: flex-start; 
    border-style: dotted; 
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
table tbody tr th{
    display: flex;
    padding: 20px 0px;
    width: calc(100%/6);
}
@media (max-width:1366px) {
    .sidebar{
        width: 240px;
    }
    h1{ 
        font-size: 20px;
        padding-left: 17px;
    }
    .logo img{
        height: 12px;
        width: 25px;
    }
    .logo{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .navbar ul {
        padding: 0px 32px 0px 20px;
    }
    .navbar ul li{
        padding: 11px 12px;
        max-width: 190px;
    }
    .navbar ul li img{
        height: 20px;
    }
    .navbar ul li a{
        font-size: 13px;
    }
    .followers ul li img{
        height: 30px;
    }
    .followers p {
        margin-top: 55px;
        font-size: 12px;
        margin-left: 43px;
    }
    .followers ul{
        margin-top: 10px;
    }
    .followers ul li{
        padding: 12px 0px 0px 12px;
    }
    .followers ul li a {
        margin-left: 18px;
        font-size: 13px;
    }
    .load-more {
            padding: 24px 32px;
            font-size: 10px;
    }
    .followers a{
        font-size: 12px;
    }
    /*header-bar/////////////////////////////////////////////////////*/
    .header-bar {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding-left: 270px;
        padding-right: 2px;
    }
    .search-box{
        height: 40px;
        width: 250px;
        border-radius: 10px;
    }
    .search-box a img{
        height: 15px;
    }
    .search-box input{
        width: 100px;
        height: 40px;
    }
    .personal-side{
        width: 400px;
    }
    .pink{
        font-size: 15px;
    }
    .personal-side-img{
        height: 18px;
    }
    .prophile-img{
        height: 40px;
    }
    .upload-button a {
        font-size: 12px;
    }
    .upload-button {
        background-color: #FF2288;
        border-radius: 9px;
        padding: 10px 11px;
    }
    /*filters////////////////////////////////////////////////////*/
    .mid-board{
        padding-left: 290px;
    }
    .filters {
        display: flex;
        width: 450px;
    }
    .filter-bar{
        padding-right: 50px;
    }
    .filters a {
        font-size: 12px;
    }
    .filter-button {
        padding: 10px 12px;
        border-radius: 10px;
    }
    .filter-button img{
        height: 18px;
    }
    .filter-button p{
        font-size: 13px;
    }
    /*middle-page/////////////////////////////////////////////////////*/
    .main-info {
        padding-right: 32px;
    }    
    .first-sec img{
        height: 165px;
        width: 225px;
    }
    .main-info div p {
        padding: 0 25px;
        width: 223px;
        font-size: 12px;
    }
    .react-button{
        top: 20px;
        left: 28px;
    }
    .react-button img{
        height: 21px;
        width: 21px;
    }
    .first-sec {
        margin-bottom: 40px;
    }
    .main-align a{
        margin-top: 30px;
    }
    .main-align a span {
        padding: 12px 70px;
        border-radius: 10px;
        font-size: 12px;
    }   
    /*top-designers section/////////////////////////////////////*/ 
    .sec-designers {
        padding: 70px 60px 70px 320px;
    }
    h3{
        font-size: 22px;
    }
    .individ-designers img{
        height: 90px;
    }
    .individ-designers a{        
        font-size: 12px;
    }    
    .individ-designers p {
        font-size: 10px;
    }
    .top-designers span {
        padding: 11px 28px;
    }
    /*footer////////////////////////////////////////*/
    footer {
        padding: 70px 70px 70px 320px;
    }
    .footer-nav-bar {
        padding-right: 0px;
    }
}
@media (max-width:1030px){
    .sidebar{
        display: none;
    }
    .mid-board{
        max-width: 900px;
        padding-left: 0px;
    }
    .filter-bar{
        padding-right: 15px;
    }
    .main-info {
        padding-right: 0px;
    }
    .first-sec img {
        height: 215px;
        width: 268px;
    }
    .react-button{
        top: 37px;
        left: 28px;
    }
    .react-button img{
        height: 21px;
        width: 21px;
    }
    .header-bar{
        max-width: 1000px;
        padding-left: 0px;   
    }
    .personal-side {
        width: 400px;
        padding-right: 11px;
        justify-content: space-between;
    }
    .header-sidebar-icon{
        display: block;
    }
    .sec-designers {
        padding: 70px 0px 70px 0px;
    }
    .designers{
        max-width: 900px;
        padding: 0px 15px;
    }
    .top-designers span {
        padding: 11px 73px;
    }
    .designers img {
        height: 120px;
    }
    footer {
        max-width: 900px;
        padding: 70px 15px;
    }
}